<div class="container col-3" style="margin-top: auto;">
   
   
        <form #fgForm="ngForm" (ngSubmit)="onSubmit(fgForm.value.username)">
            
            <div >
                <p>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username" ngModel required autofocus>
                </p>
                <div class="d-flex justify-content-around">
                    <input type="submit" value="Next" class="btn btn-primary">
                    <button  class="btn1 " (click)="onCancel()">Cancel</button>
                </div>

           
                <div class="row container-fluid text-danger" id="divshow">
                    {{errMsg}}
                </div>
            </div>
        </form>
    
</div>